.timerContainer {
  height: 15em;
  background: #aba593;
  display: flex;
  min-width: 15em;
  border-radius: 20px;
  /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
  margin-top: auto;
}

.timerContainer p {
  margin: auto;
  font-family: "UbuntuBold";
  color: #ebe2ca;
  font-size: 30pt;
}
