.wrapper {
    margin: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentWrapper {
    width: 30em !important;
    height: 15em;
    display: flex;
    background-color: white;
}

.contentWrapper img {
    width: 50%;
    /* height: 50%; */
    /* height: auto; */
}

.contentWrapper button {
    cursor: pointer;
    position: relative;
    margin-left: 10%;
    width: 11em;
    height: 2em;
    margin-top: 5.5em;
    background: #EBE2CA;
    border: 2px solid #EBE2CA;
    color: #908373;
    border-radius: 5px;
    font-family: 'Athelas';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
} 