.exerciseContainer {
  display: flex;
  background-color: #908373;
  padding: 1em 1em 1em 15em;
  margin: 1em;
  min-width: 500px;
  min-height: 1000px;
  justify-content: space-evenly;
  gap: 1em;
}
.exerciseContainer > div {
  display: flex;
  flex-direction: column;
}
