.header {
  height: 50px;
  background-color: #ebe2ca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 4em;
  padding-right: 4em;
}

.pageName {
  color: #908373;
  font-family: "AthelasBold";
  font-size: 20pt;
}

.links {
  display: flex;
  gap: 1em;
}


.authLink {
  margin: auto;
  height: 2em;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  background: #908373;
  border: 2px solid #908373;
  border-radius: 5px;
  font-family: "Athelas";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

.authLink h3 {
  color: #ebe2ca;
  text-decoration-line: underline;
  text-decoration-color: #908373;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 4em;
    padding-right: 4em;
  }

  .links {
    gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 125px;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .links {
    gap: 20px;
    height: 50px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding: 34px 0px;
  }

  .logo {
    width: 200px;
  }

  .links {
    margin: auto;
    justify-content: center;
    width: 312px;
    gap: 15px;
  }
}
