.title {
  font-family: "AthelasBold";
  font-size: 24pt;
  color: white;
  align-items: center;
  margin-bottom: 0em;
  margin-top: 0em;
}

.desc {
  font-family: "AthelasBold";
  font-size: 12pt;
  color: white;
  text-decoration: underline;
  text-decoration-color: #908373;
}

.desc:hover {
  text-decoration-color: #ebe2ca;
}

.container {
  background-color: #908373;
  /* background-color: white; */
  border-radius: 20px;
  padding: 1em;
  width: 20em;
}

.container > h3 {
  color: #ebe2ca;
  font-size: 10pt;
  font-family: "UbuntuBold";
  /* margin-top: 0em; */
}

.author > h3 {
  color: #ebe2ca;
  font-size: 10pt;
  font-family: "UbuntuBold";
  margin-top: 0em;
}
.pB {
}
.pB > h3 {
  color: #ebe2ca;
  font-size: 10pt;
  font-family: "UbuntuBold";
  margin-top: 0em;
}

.usercourseButton button {
  cursor: pointer;
  margin-left: 10%;
  width: 80%;
  height: 2em;
  border: none;
  background: #ebe2ca;
  color: #908373;
  border-radius: 5px;
  font-family: "Athelas";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.courseButton button {
  cursor: pointer;
  margin-left: 10%;
  width: 80%;
  height: 2em;
  border: none;
  background: #ebe2ca;
  color: #908373;
  border-radius: 5px;
  font-family: "Athelas";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.courseButton button:hover {
  border: 3px solid white;
}
